

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .btn{
    margin: 2px;;
  }
  .divbtn{
    float: left;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  #backimg{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    
  }
  #cont{
    padding-top: 0%;
  
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
   
    z-index: 1;
  }
  body{
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/f6d7434e-d6de-4185-a6d4-c77a2d08737b/US-en-20220502-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    
   
    
  }
  
  
  #cardmain{
    padding-top: 60px;
    background-color: rgb(126, 121, 121);
  
  }
  #box1{
    opacity: 0.8;
  }
  #cardi{
    background-color: black;
    z-index: 1;
  }
  #headsi{
    background-color: rgb(126, 121, 121);
    color: black;
  }
  #crdtitle{
    background-color: black;
    color: red;
  }
  #tablemain{
    position: relative;
  }
  
  #img1{
  position: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
  }
  
  